@use '../abstracts' as *;

.header {
  width: 100%;
  min-width: pxToRem(375px);

  &__nav {
    width: 100%;
    margin-inline: auto;
    display: grid;
    row-gap: pxToRem(15px);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'logo cart'
      'catalogue catalogue';
  }

  &__content {
    margin-top: pxToRem(15px);
    margin-inline: auto;

    &--text {
      margin-top: pxToRem(30px);
      line-height: pxToRem(24px);
    }
  }

  &__hero {
    background-color: var(--lightCyan);
  }

  h2 {
    font-size: pxToRem(30px);
    font-weight: 500;
    line-height: pxToRem(37px);
    margin-top: pxToRem(20px);
  }

  p {
    margin-top: pxToRem(10px);
  }

  .btn--shop {
    display: flex;
    justify-content: center;
    margin-top: pxToRem(20px);
    height: pxToRem(48px);
  }
}

.wrapper--nav,
.wrapper--content {
  padding: pxToRem(15px);
}

.nav__wrapper {
  grid-area: cart;
  display: flex;
  gap: pxToRem(2px);
  justify-content: flex-end;
}

.header__img {
  margin-inline: auto;
  height: pxToRem(240px);
}

.logo {
  display: flex;
  align-items: center;
  gap: pxToRem(5px);
  cursor: pointer;
  grid-area: logo;

  &__symbol {
    font-size: pxToRem(22px);
    font-weight: 700;
    background-color: var(--aqua);
    width: pxToRem(39px);
    height: pxToRem(39px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    font-size: pxToRem(30px);
    font-weight: 500;
  }
}

.form {
  display: flex;
  gap: pxToRem(20px);
  font-size: pxToRem(18px);
  grid-area: catalogue;
  width: 100%;

  input {
    width: 100%;
    display: none;
    height: pxToRem(48px);
    border: 1px solid var(--grey-1);
    border-radius: pxToRem(6px);
    padding: 0 pxToRem(40px) 0 pxToRem(13px);
  }

  input::placeholder {
    color: var(--grey-3);
  }
}

.input__icon {
  display: none;
  position: relative;
  flex-grow: 1;
}

.input__btn--search {
  position: absolute;
  right: pxToRem(6px);
  top: 50%;
  transform: translateY(-50%);
}

.btn {
  border-radius: pxToRem(6px);
  padding: pxToRem(10px) pxToRem(13px) pxToRem(10px);
  display: flex;
  align-items: center;
  gap: pxToRem(10px);
  color: var(--white);
  background-color: var(--deepSkyBlue);
  align-self: end;
  width: 100%;
}

.btn--shop {
  text-align: center;
}

.cart {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: pxToRem(4px);
  padding: pxToRem(10px);
  cursor: pointer;

  &__qty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: pxToRem(12px);
    font-weight: 600;
    background-color: var(--aqua);
    padding: pxToRem(2px);
    border-radius: 50%;
    width: pxToRem(19px);
    height: pxToRem(19px);
  }
}

.sale {
  text-transform: uppercase;
  font-size: pxToRem(12px);
  font-weight: 500;
  letter-spacing: pxToRem(1px);
  padding: pxToRem(6px);
  border-radius: pxToRem(4px);
  background-color: var(--aqua);
}

// Tablet SD
@include breakpoint(small) {
  .header {
    &__nav {
      grid-template-columns: max-content auto max-content;
      column-gap: pxToRem(20px);
      grid-template-rows: auto;
      grid-template-areas: 'logo catalogue cart';
    }

    &__nav,
    &__content {
      max-width: pxToRem(768px);
    }
  }

  .btn {
    width: max-content;
  }

  .btn--search {
    display: none;
  }

  .wrapper--nav {
    padding: pxToRem(20px) pxToRem(40px);
  }

  .wrapper--content {
    padding: pxToRem(40px);
  }

  .form {
    input {
      display: block;
    }
  }

  .input__icon {
    display: block;
  }
}

// Tablet HD
@include breakpoint(medium) {
  .header {
    &__nav {
      column-gap: pxToRem(100px);
    }

    &__nav,
    &__content {
      max-width: pxToRem(1024px);
    }

    &__content {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: pxToRem(40px);
      margin-top: 0;
    }

    &__img {
      height: pxToRem(400px);
    }
  }

  .wrapper--content {
    padding: pxToRem(50px) pxToRem(40px);
    margin-inline: auto;
  }
}

// Desktrop SD
@include breakpoint(large) {
  .header {
    &__nav {
      max-width: pxToRem(1440px);
      padding: 0 pxToRem(100px);
    }

    &__content {
      max-width: pxToRem(1440px);
      padding: 0 pxToRem(180px);
    }
  }

  .wrapper--nav,
  .wrapper--content {
    margin-inline: auto;
  }
}

// Desktrop HD
@include breakpoint(x-large) {
  .header {
    &__nav {
      max-width: pxToRem(1920px);
      padding: 0 pxToRem(200px);
    }

    &__content {
      max-width: pxToRem(1920px);
      padding: 0 pxToRem(280px);
    }
  }
}
