@use '../abstracts' as *;

.header {
  width: 100%;
  min-width: pxToRem(375px);

  &__nav {
    width: 100%;
    margin-inline: auto;
    display: grid;
    row-gap: pxToRem(15px);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'logo cart'
      'catalogue catalogue';
  }

  .btn--shop {
    display: flex;
    justify-content: center;
    margin-top: pxToRem(20px);
    height: pxToRem(48px);
    text-align: center;
  }
}

.wrapper--nav,
.wrapper--content {
  padding: pxToRem(15px);
}

.nav__wrapper {
  grid-area: cart;
  display: flex;
  gap: pxToRem(2px);
  justify-content: flex-end;
  position: relative;
}

.header__img {
  margin-inline: auto;
  height: pxToRem(240px);
}

.logo {
  display: flex;
  width: min-content;
  align-items: center;
  gap: pxToRem(5px);
  grid-area: logo;

  &__symbol {
    font-size: pxToRem(22px);
    font-weight: 700;
    background-color: var(--aqua);
    width: pxToRem(39px);
    height: pxToRem(39px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    font-size: pxToRem(30px);
    font-weight: 500;
  }
}

.form {
  display: flex;
  gap: pxToRem(20px);
  font-size: pxToRem(18px);
  grid-area: catalogue;
  width: 100%;
  // position: relative;

  input {
    width: 100%;
    display: none;
    height: pxToRem(48px);
    border: 1px solid var(--grey-1);
    border-radius: pxToRem(6px);
    padding: 0 pxToRem(40px) 0 pxToRem(13px);
  }

  input::placeholder {
    color: var(--grey-3);
  }
}

.input__icon {
  display: none;
  position: relative;
  flex-grow: 1;
}

.input__btn--search {
  position: absolute;
  right: pxToRem(6px);
  top: 50%;
  transform: translateY(-50%);
}

.btn {
  border-radius: pxToRem(6px);
  padding: pxToRem(9px) pxToRem(12px) pxToRem(9px);
  display: flex;
  align-items: center;
  gap: pxToRem(10px);
  color: var(--white);
  border: 1px solid var(--deepSkyBlue);
  background-color: var(--deepSkyBlue);
  align-self: end;
  width: 100%;
  @include transition-bgc;

  &--primary:hover {
    background-color: var(--blue-6);
    border: 1px solid var(--blue-6);
  }

  &--primary:focus,
  &--primary:active {
    background-color: var(--blue-7);
    border: 1px solid var(--blue-7);
  }
}

.btn--eventsnone > * {
  pointer-events: none;
}

.cart {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: pxToRem(4px);
  padding: pxToRem(10px);
  cursor: pointer;
  border-radius: pxToRem(6px);
  @include transition-bgc;

  &__qty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: pxToRem(12px);
    font-weight: 600;
    background-color: var(--aqua);
    padding: pxToRem(2px);
    border-radius: 50%;
    width: pxToRem(19px);
    height: pxToRem(19px);
  }

  &:hover {
    background-color: var(--blue-2);
  }

  &:focus,
  &:active {
    background-color: var(--blue-3);
    outline: none !important;
  }
}

.dropdown {
  // position: relative;

  &__item {
    margin-bottom: pxToRem(10px);
    height: pxToRem(60px);
    border-radius: pxToRem(10px);
    color: #fff;

    &--link {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: pxToRem(20px);
    }
  }

  &--cart {
    flex-grow: 0;
  }

  &--catalogue {
    width: 100%;
  }
}

.dropdown__menu {
  position: absolute;
  opacity: 0;
  border: 1px solid var(--grey-1);
  color: var(--white);
  top: pxToRem(58px);
  padding: pxToRem(15px);
  background-color: var(--white);
  width: pxToRem(345px);
  overflow: hidden;
  box-shadow: pxToRem(0px) pxToRem(20px) pxToRem(60px) rgba(0, 0, 0, 0.25);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transform: translateY(-10px);
  pointer-events: none;

  &--cart,
  &--categories {
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    color: #000;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 99;
  }
}

.dropdown.active > .dropdown__menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.visible {
  display: block;
}

.sale {
  text-transform: uppercase;
  font-size: pxToRem(12px);
  font-weight: 500;
  letter-spacing: pxToRem(1px);
  padding: pxToRem(6px);
  border-radius: pxToRem(4px);
  background-color: var(--aqua);
}

// Tablet SD
@include breakpoint(small) {
  .header {
    &__nav {
      grid-template-columns: max-content auto max-content;
      column-gap: pxToRem(20px);
      grid-template-rows: auto;
      grid-template-areas: 'logo catalogue cart';
    }

    &__nav,
    &__content {
      max-width: pxToRem(768px);
    }
  }

  .btn {
    width: max-content;
  }

  .btn--search {
    display: none;
  }

  .wrapper--nav {
    padding: pxToRem(20px) pxToRem(40px);
  }

  .wrapper--content {
    padding: pxToRem(40px);
  }

  .form {
    input {
      display: block;
    }
  }

  .input__icon {
    display: block;
  }

  .dropdown {
    &__item {
      height: pxToRem(100px);
    }

    &--catalogue {
      width: auto;
    }
  }
}

// Tablet HD
@include breakpoint(medium) {
  .header {
    &__nav {
      column-gap: pxToRem(100px);
    }

    &__nav,
    &__content {
      max-width: pxToRem(1024px);
    }

    &__content {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: pxToRem(40px);
      margin-top: 0;
    }

    &__img {
      height: pxToRem(400px);
    }
  }

  .wrapper--content {
    padding: pxToRem(50px) pxToRem(40px);
  }

  .form {
    position: relative;
  }

  .dropdown {
    &__item {
      height: pxToRem(60px);
    }

    &__header {
      display: none;
    }

    &__cart {
      position: relative;
    }

    &__menu {
      &--cart,
      &--categories {
        right: 0;
        top: auto;
        bottom: auto;
        top: pxToRem(58px);
        border-radius: pxToRem(10px);
        position: absolute;
        color: #000;
        width: pxToRem(425px);
        z-index: 99;
      }

      &--categories {
        left: 0;
        width: pxToRem(365px);
      }
    }
  }
}

// Desktrop SD
@include breakpoint(large) {
  .header {
    &__nav {
      max-width: pxToRem(1440px);
      padding: 0 pxToRem(100px);
    }

    &__content {
      max-width: pxToRem(1440px);
      padding: 0 pxToRem(180px);
    }
  }

  .wrapper--nav {
    margin-inline: auto;
  }

  .wrapper--nav {
    padding: pxToRem(20px) 0;
  }
}

// Desktrop HD
@include breakpoint(x-large) {
  .header {
    &__nav {
      max-width: pxToRem(1920px);
      padding: 0 pxToRem(200px);
    }

    &__content {
      max-width: pxToRem(1920px);
      padding: 0 pxToRem(280px);
    }
  }
}
