@use '../abstracts' as *;

.main {
  width: 100%;
  min-width: pxToRem(375px);
  padding: pxToRem(15px);
  margin-inline: auto;
}

// Tablet SD
@include breakpoint(small) {
  .main {
    max-width: pxToRem(768px);
    padding: pxToRem(40px);
  }
}

// Tablet HD
@include breakpoint(medium) {
  .main {
    max-width: pxToRem(1024px);
  }
}

// Desktrop SD
@include breakpoint(large) {
  .main {
    max-width: pxToRem(1440px);
    padding: pxToRem(40px) pxToRem(100px);
  }
}

// Desktrop HD
@include breakpoint(x-large) {
  .main {
    max-width: pxToRem(1920px);
    padding: pxToRem(40px) pxToRem(200px);
  }
}
