@use '../abstracts' as *;

.product {
  &__header {
    &--title {
      margin-top: pxToRem(10px);
      font-size: pxToRem(30px);
      line-height: pxToRem(37px);
      font-weight: 500;
    }
  }

  &__sku {
    margin-top: pxToRem(5px);
    font-size: pxToRem(12px);
    line-height: pxToRem(15px);
  }

  &__rating {
    display: flex;
    gap: pxToRem(3px);
  }

  & select {
    height: pxToRem(42px);
  }
}

.rating {
  margin-top: pxToRem(5px);
  font-size: pxToRem(24px);
  color: var(--grey-1);

  &--full {
    color: var(--yellow-5);
  }
}

.swiper {
  margin-top: pxToRem(15px);
  height: pxToRem(420px);
}

.swiper-wrapper {
  width: 100%;
  height: pxToRem(345px);
}

.swiper-slide {
  background-color: red;
  border-radius: pxToRem(6px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-pagination {
  position: static !important;
  text-align: left;
  display: flex;
  margin-top: pxToRem(15px);
  gap: 15px;
}

.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-preview {
  background-color: transparent;
  width: 60px;
  height: 60px;
  border-radius: pxToRem(6px);
  margin: 0 !important;
  background-color: navy;
}

.swiper-pagination-bullet-active {
  background-color: transparent;
  border: 2px solid var(--aqua);
}

.order__form {
  margin-top: pxToRem(15px);
  display: flex;
  flex-direction: column;
  gap: pxToRem(15px);
}

.order__grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: pxToRem(20px);
}

.order__padding-top {
  padding-top: pxToRem(15px);
}

.label {
  font-weight: 700;
  font-size: pxToRem(14px);
  line-height: pxToRem(17px);
  letter-spacing: pxToRem(1px);
  text-transform: uppercase;
}

.order__amount {
  width: 100%;
  height: 100%;
  border: 1px solid var(--grey-1);
  padding: pxToRem(13px) pxToRem(10px);
  border-radius: pxToRem(6px);
}

.order__amount::-webkit-outer-spin-button,
.order__amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.btn--order {
  width: 100%;
  height: pxToRem(48px);
  display: flex;
  justify-content: center;
}

.testimonials {
  margin-top: pxToRem(30px);
  &__controls {
    display: flex;
    gap: pxToRem(10px);
    // text-align: center;
  }

  &__btn {
    display: flex;
    justify-content: center;
    font-size: pxToRem(15px);
  }

  &__content {
    margin-top: pxToRem(15px);
    font-size: pxToRem(14px);
    line-height: pxToRem(24px);
    font-weight: 500;
  }
}

.btn--description {
  background-color: var(--aqua);
  border-color: var(--aqua);
  color: #000;
}

.btn--reviews {
  background-color: var(--blue-1);
  border-color: var(--blue-1);
  color: var(--deepSkyBlue);
}

// Tablet SD
@include breakpoint(small) {
}

// Tablet HD
@include breakpoint(medium) {
}

// Desktrop SD
@include breakpoint(large) {
}

// Desktrop HD
@include breakpoint(x-large) {
}
