:root {
  --white: #fff;
  --grey-1: #ececec;
  --grey-3: #bababa;

  --lightCyan: #dafff8;
  --aqua: #00ffd1;
  --aqua-2: #00bf9d;
  --blue-2: #e7f9ff;
  --blue-3: #aae9fd;
  --blue-6: #2fdaff;
  --deepSkyBlue: #00c2ff;
  --blue-7: #00ace2;
  --text-clr: #000;
}
