:root {
  --white: #fff;
  --grey-1: #ececec;
  --grey-2: #fafafa;
  --grey-3: #bababa;
  --orange-1: #ffe6d8;
  --orange-8: #f65900;
  --lightCyan: #dafff8;
  --aqua: #00ffd1;
  --aqua-2: #00bf9d;
  --blue-1: #d6f5ff;
  --blue-2: #e7f9ff;
  --blue-3: #aae9fd;
  --blue-6: #2fdaff;
  --deepSkyBlue: #00c2ff;
  --blue-7: #00ace2;
  --text-clr: #000;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  padding: 0;
  font-family: "Montserrat",sans-serif;
  background-color: var(--background-clr);
  color: var(--text-clr);
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
form {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
input {
  outline: none;
  border: rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
  color: inherit;
}

button {
  cursor: pointer;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100%;
  min-width: 23.4375rem;
}

.header__nav {
  width: 100%;
  margin-inline: auto;
  display: grid;
  row-gap: .9375rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "logo cart" "catalogue catalogue";
}

.header__content {
  margin-top: .9375rem;
  margin-inline: auto;
}

.header__content--text {
  margin-top: 1.875rem;
  line-height: 1.5rem;
}

.header__hero {
  background-color: var(--lightCyan);
}

.header h2 {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 2.3125rem;
  margin-top: 1.25rem;
}

.header p {
  margin-top: .625rem;
}

.header .btn--shop {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  height: 3rem;
  text-align: center;
}

.wrapper--nav,
.wrapper--content {
  padding: .9375rem;
}

.nav__wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cart;
  display: flex;
  gap: .125rem;
  justify-content: flex-end;
  position: relative;
}

.header__img {
  margin-inline: auto;
  height: 15rem;
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  display: flex;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  align-items: center;
  gap: .3125rem;
  grid-area: logo;
}

.logo__symbol {
  font-size: 1.375rem;
  font-weight: 700;
  background-color: var(--aqua);
  width: 2.4375rem;
  height: 2.4375rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__name {
  font-size: 1.875rem;
  font-weight: 500;
}

.form {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  display: flex;
  gap: 1.25rem;
  font-size: 1.125rem;
  grid-area: catalogue;
  width: 100%;
}

.form input {
  width: 100%;
  display: none;
  height: 3rem;
  border: 1px solid var(--grey-1);
  border-radius: .375rem;
  padding: 0 2.5rem 0 .8125rem;
}

.form input::-moz-placeholder {
  color: var(--grey-3);
}

.form input::placeholder {
  color: var(--grey-3);
}

.input__icon {
  display: none;
  position: relative;
  flex-grow: 1;
}

.input__btn--search {
  position: absolute;
  right: .375rem;
  top: 50%;
  transform: translateY(-50%);
}

.btn {
  border-radius: .375rem;
  padding: .5625rem .75rem .5625rem;
  display: flex;
  align-items: center;
  gap: .625rem;
  color: var(--white);
  border: 1px solid var(--deepSkyBlue);
  background-color: var(--deepSkyBlue);
  align-self: end;
  width: 100%;
  transition: background-color .2s ease-in-out;
}

.btn--primary:hover {
  background-color: var(--blue-6);
  border: 1px solid var(--blue-6);
}

.btn--primary:focus,
.btn--primary:active {
  background-color: var(--blue-7);
  border: 1px solid var(--blue-7);
}

.btn--eventsnone>* {
  pointer-events: none;
}

.cart {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: .25rem;
  padding: .625rem;
  cursor: pointer;
  border-radius: .375rem;
  transition: background-color .2s ease-in-out;
}

.cart__qty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .75rem;
  font-weight: 600;
  background-color: var(--aqua);
  padding: .125rem;
  border-radius: 50%;
  width: 1.1875rem;
  height: 1.1875rem;
}

.cart:hover {
  background-color: var(--blue-2);
}

.cart:focus,
.cart:active {
  background-color: var(--blue-3);
  outline: none !important;
}

.dropdown__item {
  margin-bottom: .625rem;
  height: 3.75rem;
  border-radius: .625rem;
  color: #fff;
}

.dropdown__item--link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.25rem;
}

.dropdown--cart {
  flex-grow: 0;
}

.dropdown__menu {
  position: absolute;
  opacity: 0;
  border: 1px solid var(--grey-1);
  color: var(--white);
  top: 3.625rem;
  padding: .9375rem;
  background-color: var(--white);
  width: 21.5625rem;
  overflow: hidden;
  box-shadow: 0rem 1.25rem 3.75rem rgba(0,0,0,.25);
  transition: opacity .2s ease-in-out,transform .2s ease-in-out;
  transform: translateY(-10px);
  pointer-events: none;
}

.dropdown__menu--cart,
.dropdown__menu--categories {
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  color: #000;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 99;
}

.dropdown.active>.dropdown__menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.visible {
  display: block;
}

.sale {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 500;
  letter-spacing: .0625rem;
  padding: .375rem;
  border-radius: .25rem;
  background-color: var(--aqua);
}

.footer {
  max-width: 100%;
  min-width: 23.4375rem;
  flex: 0 0 auto;
}

.footer__wrapper {
  max-width: 23.4375rem;
  padding: .9375rem 1.1875rem;
  margin-inline: auto;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

.footer__links {
  margin-top: .9375rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--deepSkyBlue);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.footer__links:focus,
.footer__links:hover {
  outline: none !important;
  text-decoration: underline;
  color: var(--blue-6);
}

.footer__content {
  text-align: center;
}

.payment {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  height: 2rem;
}

.copy {
  margin-top: 1.25rem;
  font-size: .875rem;
  font-weight: 500;
}

.categories__nav {
  display: flex;
  flex-direction: column;
  gap: .9375rem;
  font-size: 1.875rem;
  font-weight: 500;
  color: var(--white);
}

.categories__item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-shadow: 0px 0px 0px rgba(0,0,0,.5),-3px 0px 5px rgba(0,0,0,.3);
}

.categories__item--hero {
  height: 5rem;
  border-radius: .375rem;
}

.categories__item--fashion {
  background-image: url("../assets/fashion.jpg");
}

.categories__item--shoes {
  background-image: url("../assets/shoes.jpg");
}

.categories__item--accessories {
  background-image: url("../assets/accessories.jpg");
}

.categories__item--link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  width: 100%;
  flex: 1 1 auto;
  min-width: 23.4375rem;
  padding: .9375rem;
  margin-inline: auto;
}

.icon {
  display: block;
  width: 1.75rem;
  height: 1.75rem;
}

.items__title {
  font-size: .75rem;
  line-height: .9375rem;
  letter-spacing: .0625rem;
  font-weight: 500;
  text-transform: uppercase;
}

.items__grid {
  margin-top: .9375rem;
  display: grid;
  gap: .9375rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.item__img {
  position: relative;
  height: 10.3125rem;
  background-color: gray;
  overflow: hidden;
  border-radius: .375rem;
}

.item__img .sale {
  position: absolute;
  top: .625rem;
  left: .625rem;
  pointer-events: none;
}

.item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.item__title {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  margin-top: .625rem;
}

.price,
.price--old {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  margin-top: .625rem;
  margin-right: .625rem;
  color: var(--aqua-2);
}

.price--old {
  text-decoration: line-through;
  color: var(--grey-3);
}

.items__title {
  margin-top: 1.875rem;
}

.items>div:first-child {
  border-bottom: 1px solid var(--grey-1);
  padding-bottom: 1.875rem;
}

.cart__items {
  position: relative;
  margin-bottom: .9375rem;
}

.cart__items::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: .0625rem;
  background-color: var(--grey-1);
  width: 100%;
}

.cart__total {
  color: var(--grey-3);
  margin-bottom: .9375rem;
  text-align: right;
}

.cart__item {
  display: flex;
  width: 100%;
  gap: .625rem;
  margin-bottom: .9375rem;
  height: 3.8125rem;
}

.cart__item--content {
  display: flex;
  gap: 1.25rem;
  flex: 1 0 auto;
}

.cart__item--img {
  width: 3.8125rem;
  overflow: hidden;
  border-radius: .1875rem;
}

.cart__item--img>img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.cart__item--title {
  flex: 1 0 auto;
  margin-top: .25rem;
}

.cart__item--wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: end;
  min-width: 2.8125rem;
}

.cart__count {
  display: flex;
  align-items: center;
  gap: .625rem;
  align-self: end;
  background-color: var(---grey-2);
  border-radius: 12px;
}

.cart__count--price {
  color: var(--aqua-2);
  line-height: 1.5rem;
}

.cart__icon {
  cursor: pointer;
  border-radius: 50%;
  transition: background-color .1s ease-in-out;
}

.cart__icon--blue:hover {
  background-color: var(--blue-1);
}

.cart__icon--red:hover {
  background-color: var(--orange-1);
}

.dropdown__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .9375rem;
}

.dropdown__header--btn {
  width: 1.75rem;
  height: 1.75rem;
  border: 2px solid var(--orange-8);
  border-radius: 50%;
  cursor: pointer;
}

.dropdown__header>h3 {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 2.3125rem;
}

.btn--checkout {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 48rem) {
  .header__nav {
    grid-template-columns: -webkit-max-content auto -webkit-max-content;
    grid-template-columns: max-content auto max-content;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
    grid-template-rows: auto;
    grid-template-areas: "logo catalogue cart";
  }

  .header__nav,
  .header__content {
    max-width: 48rem;
  }

  .btn {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .btn--search {
    display: none;
  }

  .wrapper--nav {
    padding: 1.25rem 2.5rem;
  }

  .wrapper--content {
    padding: 2.5rem;
  }

  .form input {
    display: block;
  }

  .input__icon {
    display: block;
  }

  .dropdown__item {
    height: 6.25rem;
  }

  .footer {
    padding: 0 2.5rem;
  }

  .footer__wrapper {
    max-width: 48rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1.25rem 0;
  }

  .footer__nav {
    margin-top: 0;
    justify-content: flex-start;
    gap: 1.25rem;
  }

  .footer__content {
    flex: 1 1 0;
  }

  .payment {
    flex: 1 1 0;
    justify-content: flex-end;
  }

  .copy {
    text-align: left;
  }

  .categories__nav {
    flex-direction: row;
    gap: 2.5rem;
  }

  .categories__item {
    flex: 1 1 0;
  }

  .categories__item--hero {
    height: 12.5rem;
  }

  .main {
    max-width: 48rem;
    padding: 2.5rem;
  }

  .items__grid {
    gap: 2.5rem;
  }

  .item__img {
    height: 20.25rem;
  }

  .items__title {
    margin-top: 2.5rem;
  }

  .items>div:first-child {
    padding-bottom: 2.5rem;
  }
  .nav__wrapper {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .form {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }
}

@media (min-width: 64rem) {
  .header__nav {
    -moz-column-gap: 6.25rem;
         column-gap: 6.25rem;
  }

  .header__nav,
  .header__content {
    max-width: 64rem;
  }

  .header__content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2.5rem;
    margin-top: 0;
  }

  .header__img {
    height: 25rem;
  }

  .wrapper--content {
    padding: 3.125rem 2.5rem;
    margin-inline: auto;
  }

  .form {
    position: relative;
  }

  .dropdown__item {
    height: 3.75rem;
  }

  .dropdown__header {
    display: none;
  }

  .dropdown__cart {
    position: relative;
  }

  .dropdown__menu--cart,
  .dropdown__menu--categories {
    right: 0;
    top: auto;
    bottom: auto;
    top: 3.625rem;
    border-radius: .625rem;
    position: absolute;
    color: #000;
    width: 26.5625rem;
    z-index: 99;
  }

  .dropdown__menu--categories {
    left: 0;
    width: 22.8125rem;
  }

  .footer__wrapper {
    max-width: 64rem;
  }

  .main {
    max-width: 64rem;
  }

  .items__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .item__img {
    height: 17.5rem;
  }
}

@media (min-width: 90rem) {
  .header__nav {
    max-width: 90rem;
    padding: 0 6.25rem;
  }

  .header__content {
    max-width: 90rem;
    padding: 0 11.25rem;
  }

  .wrapper--nav,
  .wrapper--content {
    margin-inline: auto;
  }

  .footer {
    padding: 0;
  }

  .footer__wrapper {
    max-width: 90rem;
    padding: 1.25rem 6.25rem;
  }

  .main {
    max-width: 90rem;
    padding: 2.5rem 6.25rem;
  }

  .items__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 120rem) {
  .header__nav {
    max-width: 120rem;
    padding: 0 12.5rem;
  }

  .header__content {
    max-width: 120rem;
    padding: 0 17.5rem;
  }

  .footer__wrapper {
    max-width: 120rem;
    padding: 1.25rem 12.5rem;
  }

  .main {
    max-width: 120rem;
    padding: 2.5rem 12.5rem;
  }

  .item__img {
    height: 21.875rem;
  }
}